
{% extends "profilebase.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}


<div id="wrapper">
    {% include 'partials/usernav.html' %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        {% include 'partials/usernavsub.html' %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1"></h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Past Drug test Info</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>

                {% if page_obj%}
                <div class="table-responsive table " id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>Status</th>
                                <th >ViewDetails</th>
                                <th></th>
                    
                                
                            </tr>
                        </thead>
                        <tbody>

                            
                            {%for order in page_obj%}
                        <tr>
                        

                            <tr>
                                <td> sep 20155 2022, 2022 pm </td>
                                <td> your order is ready </td>
                                <td class="py-3"> <button>Order ready</button></td>
                                {% comment %} <td>{{order.order_details.date_added}}</td>
                              
                                {% if order.order_details.stage == 'AR' or order.order_details.stage == 'SU' %}
                                    <td><p>Your order is ready </p></td>
                                {% elif order.order_details.stage == 'AE' %}
                                    <td><p>Contact us something went wrong with order</p></td>

                                {% else %}

                                    <td><p>working on it</p></td>

                                {%endif%}
                        
                                {% if order.order_details.stage == 'AR' or order.order_details.stage == 'SU' %}
                                <td>
                                    <a type="button" class="btn btn-small btn-primary" href="{%url 'gen-drugtest-one' pk=order.order_details.id%}" >View Details</a>                                        
                    
                                </td>
                                {%else%}
                                    <td></td> 

                                {% endif %} {% endcomment %}
                                

                            </tr>
                            {%endfor%}


                            
                        </tbody>

                    </div>

                    </table>
                </div>
                
                <div class="row">
                   
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">

                
                      
                
                        
                     
                            <ul class="pagination">

                                {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <li class="page-item enabled"><a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">previous</a><span aria-hidden="true">«</span></li>
    
                            {% endif %}
                            
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                        
                                {% if page_obj.has_next %}

                                
                              
                                <li class="page-item"> <a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">next</a><span aria-hidden="true">»</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                </div>
            </div>
                
                {%else%}
                <div><h3>No Orders to show</h3></div>

                {%endif%}
            </div>
        </div>
    </div>
</div>
{% include 'partials/userfooter.html' %}
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

</div>


{% endblock content %}