[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.8"
django-oscar = "*"
django-oscar-api = "*"
django-oscar-api-checkout = "*"
psycopg2 = "*"
squareup = "==21.1.0.20220823"
django-allauth = "*"
sorl-thumbnail = "*"
wagtail = "*"

[dev-packages]

[requires]
python_version = "3.10"
