anyascii
apimatic-core
apimatic-core-interfaces
apimatic-requests-client-adapter
asgiref
autopep8
Babel
beautifulsoup4
CacheControl
certifi
cffi
charset-normalizer
cryptography
defusedxml
deprecation
Django
django-allauth
django-extra-views
django-filter
django-haystack
django-modelcluster
django-oscar
django-oscar-api
django-oscar-api-checkout
django-permissionedforms
django-phonenumber-field
django-rest-auth
django-salesman
django-tables2
django-taggit
django-treebeard
django-widget-tweaks
djangorestframework
draftjs-exporter
enum34
et-xmlfile
factory-boy
Faker
html5lib
idna
importlib-metadata
jsonpickle
l18n
Markdown
msgpack
oauthlib
openpyxl
packaging
phonenumbers
Pillow
psycopg2
purl
pycodestyle
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
six==
sorl-thumbnail=
soupsieve
sqlparse
squareup==21.1.0.20220823
tablib
telepath
tomli
tzdata
urllib3
wagtail
webencodings
Willow
xlrd
XlsxWriter
xlwt
zipp
