
{% extends "profilebase.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}
{% load crispy_forms_tags %}
{%  block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}


<div id="wrapper">
    {% include 'partials/usernav.html' %}
<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        {% include 'partials/usernavsub.html' %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Confirm Deletion</h3>

        <div class="container">

            <div class="row">
                <div class="col-sm-8">

                    <form action="" method="POST" role="form">{% csrf_token %}
                       
                       <div class="container">
                        <div class="row">
                            <div class="col">
                                <p> Are you sure you want to delete "{{ object }}" ? </p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">  
                                <input class="btn btn-danger" type="submit" value="Yes" />
                            </div>
                            <div class="col-sm-3">
                                <a href="{% url 'gen-employees' %}" class="btn btn-success">No</a>

                            </div>
                        </div>
                       </div>
                       

                    </form>



                </div>

            </div>

        </div>
    </div>
</div>
{% include 'partials/userfooter.html' %}
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

</div>


{% endblock content %}